##
# Rename this file .env
##

CONTEXT=development
PLATFORM_API_TOKEN=generate a token from your Segment workspace
PAPI_TOKEN=generate a token from your Segment workspace
ALGOLIA_APP_ID=
ALGOLIA_SEARCH_KEY=
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=
WEBFLOW_URL=
REDIRECT_LINKS=
UTM_SOURCE=hpanel.hostinger.com
UTM_MEDIUM=redirect
UTM_CAMPAIGN_PREFIX=promo
